*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }

  nav{
    background: black;
    height: 50px;
    width: 100%;
  }

  nav ul{
    text-align: center;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 40px;
    margin: 0 5px;
    padding: 7px 13px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  .active{
    color: goldenrod;
    transition: .5s;
  }

  #user{
    color: white;
    float: left;
    cursor: pointer;
    padding: 25px 20px;
    font-size: 29px;
    display: none;
    line-height: 5px;
  }
  #shop2{
    color: white;
    float: right;
    cursor: pointer;
    padding: 26px 20px;
    font-size: 29px;
    line-height: 5px;
    display: none;
  }



  
  .checkbtn{
    font-size: 33px;
    color: white;
    text-align: center;
    line-height: 55px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  

 

  a:hover{
    border-bottom: 1px solid white;
  }





  /* showcase */

.showcase{
    height: 65vh;
    width: 100%;
    background-image: url(./image/2022-08-03\ 20.15.44.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 40px;
    
}

.new{
    font-size: 40px;
    width: 70%;
    color: white;
    padding: 0px 40px;
}

.new-shop{
    font-size: 19PX;
    width: 70%;
    color: rgb(234, 234, 234);
    padding: 0px 40px;
}

.showcase-icons{
    display: flex;
    gap: 15px;
}
.showcase-icon{
    padding: 55px 40px;
    border-radius: 5px;
}
button{
    border: 1px solid white;
    background-color: black;
    padding: 13px 12px;
    font-size: 17px;
    color: white;
    cursor: pointer;
}
button:hover{
    background-color: rgb(97, 97, 97);
    transition: .4s;
}


/*   */

.only{
    text-align: center;
    padding: 50px;
}


.all-rasm{
  display: flex;
  gap: 40px;
  justify-content: center;
  position: relative;
}
.rasm{
  position: relative;
  height: 37vh;
}
.sale{
  position: absolute;
  margin-top: -270px;
  margin-left: 220px;
  background-color: goldenrod;
  color: white;
  border-radius: 45px;
  padding: 13px 6px;
  cursor: pointer;
}



.rasm:hover{
  opacity: .4;
  transition: .4s;
  
}
.rasm:hover{
  position: relative;
  top: -3px;
  transition: .9s;
  cursor: pointer;;
}


.textla{
    text-align: center;
  }

  
del { 
    text-decoration: line-through;
    font-size: 15px;
    color: gray;
    cursor: pointer;
  }

  .rasm2{
    height: 77vh;
  }
  .rasm5{
    height: 75vh;
  }
  
  
  .rasm2:hover{
    opacity: .4;
    transition: .4s;
    
  }
  .rasm2:hover{
    position: relative;
    top: -3px;
    transition: .9s;
  }
  


  .rasm23{
    height: 77vh;
  }
  
  
  
  .rasm23:hover{
    opacity: .4;
    transition: .4s;
    
  }
  .rasm23:hover{
    position: relative;
    top: -3px;
    transition: .9s;
  }


  
  .rasm5{
    height: 52vh;
  }
  
  .rasm234{
    height: 51vh;
  }
  
  .rasm5:hover{
    opacity: .4;
    transition: .4s;
    
  }
  .rasm5:hover{
    position: relative;
    top: -3px;
    transition: .9s;
  }

  .rasm234:hover{
    opacity: .4;
    transition: .4s;
    
  }
  .rasm234:hover{
    position: relative;
    top: -3px;
    transition: .9s;
  }



  /* men*/
  .only2{
    text-align: center;
    padding: 50px;
}
.all-rasm2{
  display: flex;
  gap: 40px;
  justify-content: center;
  position: relative;
}
  .men{
    cursor: pointer;

  }
  span:hover{
    border-bottom: 1px solid black;
  }

  span{
    color: rgba(0, 0, 0, 0.675);
  }


#i{
  font-size: 12px;
   color: goldenrod;
   cursor: pointer;
}

#i-yelow{
  font-size: 12px;
  color: rgb(180, 180, 180);
}





.foter{
  margin-top: 70px;
  background-color: black;
  display: flex;
  padding: 25px;
  color: white;
  justify-content: center;

}
a{
  color: white;
}
.hoverga:hover{
  color: goldenrod;
  border-bottom: 1px solid goldenrod;
}



@media (max-width: 800px){
  .sale{
    position: absolute;
    margin-top: -250px;
    margin-left: 190px;
    background-color: goldenrod;
    color: white;
    border-radius: 45px;
    padding: 13px 6px;
    cursor: pointer;
  }
    .only{
        text-align: center;
        padding-top: 450px;
        font-size: 14px;
    }
    
    .new{
        font-size: 23px;
        width: 70%;
        padding: 5px;
    }
    .new-shop{
        font-size: 18PX;
        width: 60%;
        color: rgb(234, 234, 234);
        padding: 5px;
    }
    .showcase-icon{
        padding: 45px 4px;
        border-radius: 5px;
    }
    .showcase{
       position: absolute;
       background-size: 110% 100%;
    }
    #shop2{
        display: block;
        z-index: 999;
    }
    #user{
        display: block;
        z-index: 999;
    }
    .checkbtn{
      display: block;
      z-index: 999;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 48px;
      left: -100%;
      text-align: center;
      transition: all .5s;
      z-index: 999;
    }
    nav ul li{
      display: block;
      line-height: 60px;
      z-index: 999;
    }
    nav ul li a{
      font-size: 18px;
      z-index: 999;
    }

    #check:checked ~ ul{
      left: 0;
      z-index: 999;
    }
  
  }
 

  @media(max-width:1020px){
    .sale{
      position: absolute;
      margin-top: -250px;
      margin-left: 190px;
      background-color: goldenrod;
      color: white;
      border-radius: 45px;
      padding: 13px 6px;
      cursor: pointer;
    }
    .all-rasm{
      text-align: center;
      display: grid;
      grid-template-columns: 200px 200px;
    }
  }
  
  @media (max-width:850px){
    
    .sale{
      position: absolute;
      margin-top: -250px;
      margin-left: 190px;
      background-color: goldenrod;
      color: white;
      border-radius: 45px;
      padding: 13px 6px;
      cursor: pointer;
    }
    .all-rasm{
      flex-direction: column;
      grid-template-columns: 200px 230px;
    }
  }
  
  @media(max-width:450px){
    .sale{
      position: absolute;
      margin-top: -250px;
      margin-left: 190px;
      background-color: goldenrod;
      color: white;
      border-radius: 45px;
      padding: 13px 6px;
      cursor: pointer;
    }
    .all-rasm{
      grid-template-columns: 100px 100px;
    }
    .rasm{
      height: 200px;
    }
    html{
        font-size: 10px;
      }
  }
  
  
  
  /* men media*/
  @media(max-width:1020px){
    .sale{
      position: absolute;
      margin-top: -250px;
      margin-left: 190px;
      background-color: goldenrod;
      color: white;
      border-radius: 45px;
      padding: 13px 6px;
      cursor: pointer;
    }
    .all-rasm2{
      
      display: grid;
      grid-template-columns: 290px 290px 290px;
    }
  }
  
  @media (max-width:1020px){

    .all-rasm2{
      flex-direction: column;
      grid-template-columns: 463px ;
    }
    .rasm2{
      height: 113vh;
    }
    .ras{
      margin-top: -370px;
      margin-left: 255px;
    }
    .rasm23{
      height: 50vh;
    }

    .rasm5{
      height: 75vh;
    }
    .rasm234{
      height: 33vh;
    }
    .ras234{
      margin-top: -266px;
      margin-left: 255px;
    }
    .men{
      cursor: pointer;
      margin-left: -280px;
    }
  }
  
  @media(max-width:450px){
 
  .all-rasm2{
    grid-template-columns: 300px 300px 300px;
  }
  html{
      font-size: 10px;
  }
}

















